
body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-thumb {
  background: #ccc;
}
body.red::-webkit-scrollbar-thumb {
  background: red;
}

.exampleImage {
  background: #efefef;
  background-size: 100%;
  display: inline-block;
  height: 50px;
  width: 50px;
}
#searchbar {
  position: absolute;
  right: 10px;
  top: 10px;
}
